.pokemon-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #C5C5C5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    margin: 10px;
    width: 90vw;
    height: 80vh;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .pokemon-details, .pokemon-table, .charts, .stats, .about, h2 {
        /* Add your styles for max-width 1024px */
    }
}

@media screen and (max-width: 768px) {
    .pokemon-details, .pokemon-table, .charts, .stats, .about, h2 {
        /* Add your styles for max-width 768px */
    }
}

@media screen and (max-width: 480px) {
    .pokemon-details, .pokemon-table, .charts, .stats, .about, h2 {
        /* Add your styles for max-width 480px */
    }
}

.pokemon-details .pokemonName {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pokemonImage {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    margin: 10px;
    width: 30vw;
    height: 75vh;
    text-align: center;
    position: relative;
    background-image: url('../images/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    .about h2 {
        position: relative;
        top: -30%;
    }

    .about .pokemon-table {
        width: 100%;
        border-collapse: collapse;
        position: relative;
        margin-top: -30%;
    }

.pokemon-table td {
    padding: 8px;
    border: none;
    color: initial;
}

.stats {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    margin: 10px;
    width: 30vw;
    height: 75vh;
    text-align: center;
    position: relative;
}

.bookmark-icon {
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.loading1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rotating-image {
    animation: rotation 1s linear infinite;
    align-items: center;
    height: 50px; /* Adjust the height to your desired size */
    width: 50px; /* Adjust the width to your desired size */
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.charts {
    width: 50%;
    height: 50%;
}
